/* =========================================================
		Author's area
   ========================================================= */

@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:200&display=swap');

/* ======================================================== */
/*			@media area
/*
/*
/*	Extra small devices (phones, 600px and down)
/*
/* ========================================================= */

@media all and (min-width: 240px) and (max-width: 600px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  .wrapper>div,
  header,
  footer {
    border: .2rem dashed black;
    border-radius: 1rem;
    background-color: rgba(233, 171, 88, .5);
    padding: 1em;
    color: #d9480f;
    box-shadow: 0 0 1rem black;
  }
  .one {
    grid-column: 1 / 6;
    grid-row: 1;
  }
  .two {
    grid-column: 1 / 6;
    grid-row: 2;
  }
  .three {
    grid-column: 1 / 6;
    grid-row: 4;
  }
  .four {
    grid-column: 1 / 6;
    grid-row: 5;
  }
  .five {
    grid-column: 1 / 6;
    grid-row: 6;
  }
  .six {
    grid-column: 1 / 6;
    grid-row: 3;
  }
  /* ==============================
		HN -- p --
	   ============================== */
  h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
  }
  h2 {
    font-size: 2.5rem;
    background-color: hsl(204, 98%, 38%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 2rem;
    color: black;
  }
  /* ==============================
		li -- p --
	   ============================== */
  li {
    list-style: none;
    font-size: 2rem;
    color: black;
  }
  /* ==============================
		img
	   ============================== */
  img {
    border-radius:100%;
    border:.3rem solid black;
  }
  /* ==============================
		Footer
	   ============================== */
  #top {
    text-align: center;
  }
/* icone top */
 .fa-twitter, .fa-github, .fa-wordpress, .fa-linkedin{
margin-left: 70px;
margin-left: 6.5rem;
color:black;
}
/* icone bottom */
  .fa-running, .fa-futbol, .fa-swimmer, .fa-laptop-code, .fa-book-reader, .fa-gamepad{ 
    margin-left:21px;
    margin-left:2rem;
    color:black;
  }
}
/* ========================================================= */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* ========================================================= */

@media all and (min-width: 601px) and (max-width: 768px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  .wrapper>div,
  header,
  footer {
    border: .2rem dashed black;
    border-radius: 1rem;
    background-color:hsl(203, 25%, 66%);
    padding: 1rem;
    color: #d9480f;
    box-shadow: 0 0 .7rem black;
  }
  .one {
    grid-column: 1 / 10;
    grid-row: 1;
  }
  .two {
    grid-column: 1 / 10;
    grid-row: 2;
  }
  .three {
    grid-column: 1 / 10;
    grid-row: 4;
  }
  .four {
    grid-column: 1 / 10;
    grid-row: 5;
  }
  .five {
    grid-column: 1 / 10;
    grid-row: 6;
  }
  .six {
    grid-column: 1 / 10;
    grid-row: 3;
  }
  /* ==============================
		HN -- p --
	   ============================== */
  h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color:hsl(203, 95%, 8%);
  }
  h2 {
    font-size: 3.5rem;
    background-color: rgba(255,233,238);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:hsl(203, 95%, 8%);
  }
  p {
    font-size: 2.5rem;
    color:hsl(203, 95%, 8%);
  }
  /* ==============================
		li -- p --
	   ============================== */
  li {
    list-style: none;
    font-size: 2.5rem;
    color: hsl(203, 95%, 8%);
  }
  /* ==============================
		img
	   ============================== */
  img {
    float: right;
    border-radius:100%;
    border:.3rem solid hsl(194, 62%, 34%); 
  }
  /* ==============================
		Footer
	   ============================== */
  #top {
    text-align: center;
  }
/* icone top */
 .fa-twitter, .fa-github, .fa-wordpress, .fa-linkedin{
color:black;
margin-left:100px
}
/* icone bottom */
  .fa-running, .fa-futbol, .fa-swimmer, .fa-laptop-code, .fa-book-reader, .fa-gamepad{ 
color:black;
margin-left:46px;
  }
}
/* =========================================================
/*
/*
/*
/*	Medium devices (landscape tablets, 768px and up) */
/*
/*
/* ========================================================= */

@media all and (min-width: 769px) and (max-width: 1380px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  .wrapper>div,
  header,
  footer {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: 1rem;
    background-color: rgba(233, 171, 88, .5);
    padding: 1em;
    color: #d9480f;
    box-shadow: 0 0 1rem black;
  }
  .one {
    grid-column: 1 / 14;
    grid-row: 1;
  }
  .two {
    grid-column: 1 / 7;
    grid-row: 2;
  }
  .three {
    grid-column: 1 / 14;
    grid-row: 3;
  }
  .four {
    grid-column: 1 / 14;
    grid-row: 4;
  }
  .five {
    grid-column: 1 / 14;
    grid-row: 5;
  }
  .six {
    grid-column: 8 / 14;
    grid-row: 2;
  }
  /* ==============================
		HN -- p --
	   ============================== */
  h1 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
  }
  h2 {
    font-size: 4.5rem;
    background-color: hsl(204, 98%, 38%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 2.5rem;
    color: black;
    margin-left:4rem;
  }
  /* ==============================
		li -- p --
	   ============================== */
  li {
    list-style: none;
    font-size: 2.5rem;
    color: black;
  }
  /* ==============================
		img
	   ============================== */
  img {
    float: right;
    border-radius:100%;
    border:.3rem solid hsl(180, 100%, 50%);
}
  /* ==============================
		top bar
	   ============================== */
  #top {
    text-align: center;
  }
/* icone top */
 .fa-twitter, .fa-github, .fa-wordpress, .fa-linkedin{
color: black;
margin-left:151px;
}
/* icone bottom */
  .fa-running, .fa-futbol, .fa-swimmer, .fa-laptop-code, .fa-book-reader, .fa-gamepad{ 
color:black;
margin-left:73px;
  }
}


/* ========================================================= */
/*
/*
/*
/*
/*	/* Large devices (laptops/desktops, 992px and up) */
/*
/* ========================================================= */

@media all and (min-width: 992px) and (max-width:4000px) {

  html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
  }
* {box-sizing: border-box;}
  .wrapper {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(10rem, auto);
  }
  .wrapper>div,
  header,
  footer {
    border: .1rem solid rgb(233, 171, 88);
    border-radius: 1rem;
    background-color:hsl(0, 0%, 95%);
    padding: 1em;
    color: #d9480f;
    box-shadow: 0 0 .7rem black;
  }
  .one {
    grid-column: 1 / 14;
    grid-row: 1;
  }
  .two {
    grid-column: 1 / 7;
    grid-row: 2;
  }
  .three {
    grid-column: 1 / 14;
    grid-row: 3;
  }
  .four {
    grid-column: 1 / 14;
    grid-row: 4;
  }
  .five {
    grid-column: 1 / 14;
    grid-row: 5;
  }
  .six {
    grid-column: 8 / 14;
    grid-row: 2;
  }
  /* ==============================
		HN -- p --
	   ============================== */
  h1 {
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  h2 {
    font-size: 4rem;
    background-color:hsl(210, 42%, 75%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 2.5rem;
    color: hsl(0, 0%, 5%);
  }
  /* ==============================
		li -- p --
	   ============================== */
  li {
    list-style: none;
    font-size: 2.5rem;
    color: hsl(0, 0%, 5%);
  }
  /* ==============================
		img
	   ============================== */
  img {
    float: right;
    border-radius:100%;
    border:.3rem solid hsl(95, 65%, 55%);
  }
  /* ==============================
		Footer
	   ============================== */
  #top {
    text-align: center;
  }
/* icone top */
 .fa-twitter, .fa-github, .fa-wordpress, .fa-linkedin{
color:black;
margin-left:210px;
}
/* icone bottom */
  .fa-running, .fa-futbol, .fa-swimmer, .fa-laptop-code, .fa-book-reader, .fa-gamepad{ 
    color:black;
    margin-left: 55px;
  }
}

